.my-btn-margin {
    margin: 1%;
}

.gif-div {
    display: inline-block;
    /* float: left; */
    margin: .5%;
}

.btnsCont {
    margin: auto;
}

.gif {
    height: 150px;
    /* width: 100%; */
}